body {
  background-color: #060e1a;
  overflow: scroll;
}

/* align div in center */
.navigation{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.about {
  margin: 50px;
}

.about_container, .project_container {
  display: flex;
}

.about_profile, .project_profile {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  min-width: 50%;
  flex-wrap: wrap;
  justify-content: center;
}

.about_description, .project_description {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

.about_description h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.experience {
  background-color: white;
}

.projects {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.contact-form {
    width: 800px;
  }


.socials {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #060e1a;
}

/* mobile view */
@media only screen and (max-width: 600px) {
  .about_container {
    flex-direction: column;
  }
  .about_profile {
    min-width: 100%;
  }
  .contact-form {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .project_container {
    flex-direction: column;
  }
}